/* ==========================
   AUTH PAGE
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fb;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-box{

    width:100%;
    max-width:430px;

    background:#fff;

    border-radius:22px;

    padding:40px 30px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.auth-logo{

    width:180px;

    display:block;

    margin:0 auto 25px;

}

.auth-box h2{

    text-align:center;

    color:#0E1F4D;

    margin-bottom:28px;

    font-size:28px;

}

.auth-box input,
.auth-box select{

    width:100%;

    height:52px;

    margin-bottom:16px;

    border:1px solid #ddd;

    border-radius:12px;

    padding:0 16px;

    font-size:15px;

    transition:.25s;

    background:#fff;

}

.auth-box input:focus,
.auth-box select:focus{

    border-color:#F59E0B;

    box-shadow:0 0 0 3px rgba(245,158,11,.18);

    outline:none;

}

.auth-box button{

    width:100%;

    height:54px;

    border:none;

    border-radius:12px;

    background:#0E1F4D;

    color:#fff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    margin-top:10px;

}

.auth-box button:hover{

    background:#F59E0B;

}

.auth-box p{

    margin-top:22px;

    text-align:center;

    color:#666;

    font-size:14px;

}

.auth-box a{

    color:#F59E0B;

    font-weight:600;

    text-decoration:none;

}

.auth-box a:hover{

    text-decoration:underline;

}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

.auth-box{

    padding:30px 22px;

    border-radius:18px;

}

.auth-logo{

    width:150px;

}

.auth-box h2{

    font-size:24px;

}

}

.auth-subtitle{

    text-align:center;

    color:#777;

    margin-top:-15px;

    margin-bottom:25px;

    font-size:14px;

}
.password-box{
    position:relative;
}

.password-box input{
    width:100%;
    padding-right:50px;
}

.toggle-password{
    position:absolute;
    right:18px;
    top:50%;
    transform:translateY(-50%);
    color:#888;
    cursor:pointer;
    font-size:18px;
}
.profile-item{

    margin-bottom:18px;

}

.profile-item label{

    display:block;

    margin-bottom:6px;

    font-size:13px;

    color:#777;

}

.profile-item div{

    background:#f7f7f7;

    border-radius:12px;

    padding:14px;

    font-size:15px;

    color:#222;

}

/* ==========================
   BACK BUTTON
========================== */

.auth-box{
    position:relative;
}

.back-btn{

    position:absolute;

    top:20px;

    left:20px;

    width:42px;

    height:42px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#f5f5f5;

    color:#0E1F4D;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

.back-btn:hover{

    background:#0E1F4D;

    color:#fff;

}