.popular-brand{

    width:95%;

    max-width:1400px;

    margin:50px auto;

}

.brand-grid{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));

    gap:18px;

}

.brand-card{

    background:#fff;

    border-radius:16px;

    padding:20px;

    text-align:center;

    cursor:pointer;

    transition:.25s;

    border:1px solid #eee;

}

.brand-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.brand-card img{

    height:70px;

    object-fit:contain;

    margin:auto;

}

.brand-card h4{

    margin-top:15px;

    color:#0E1F4B;

    font-size:15px;

}
.popular-brand{

    width:95%;
    max-width:1400px;
    margin:50px auto;

}
.brandSwiper{

    overflow:hidden;

    padding:10px 0;

}

.brandSwiper .swiper-slide{

    display:flex;

    justify-content:center;

}