.footer{

    background:#13285f;

    color:#fff;

    margin-top:70px;
    margin-bottom:0;

}

.footer-container{

    width:95%;

    max-width:1400px;

    margin:auto;

    padding:55px 0;

}

/* ================= HEADER ================= */

.footer-header{

    display:flex;

    align-items:center;

    gap:40px;

    margin-bottom:45px;

}

.footer-logo{

    width:220px;

}


.footer-slogan{
    text-align:center;
    font-size:18px;
    font-weight:700;
    color:#fff;
}

/* ================= BODY ================= */

.footer-body{

    display:grid;

    grid-template-columns:35% 65%;

    gap:60px;

}

.footer-about{

    color:#d8d8d8;

    line-height:2;

    font-size:16px;

}

.footer-menu{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:35px;

}

.footer-menu h4{

    margin-bottom:20px;

    font-size:18px;

    color:#fff;

    position:relative;

}

.footer-menu h4::after{

    content:"";

    display:block;

    width:45px;

    height:3px;

    background:#ff9800;

    margin-top:10px;

}

.footer-menu a{

    display:block;

    color:#d6d6d6;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-menu a:hover{

    color:#ff9800;

}

/* ================= COPYRIGHT ================= */

.footer-bottom{

    border-top:1px solid #333;

    text-align:center;

    color:#aaa;

    padding:20px;

}

@media(max-width:768px){

.footer-header{

    flex-direction:column;

    text-align:center;

}

.footer-slogan{

    font-size:18px;

}

.footer-body{

    grid-template-columns:1fr;

}

.footer-menu{

    grid-template-columns:1fr 1fr;

    gap:30px;

}

.footer-logo{

    width:170px;

}

}