.new-products{

    width:95%;

    max-width:1400px;

    margin:45px auto;

}

.newProductSwiper{

    overflow:hidden;

    cursor:grab;

}

.newProductSwiper:active{

    cursor:grabbing;

}

.newProductSwiper .swiper-slide{

    height:auto;

    display:flex;

}

.newProductSwiper .card{

    width:100%;

}